<%- include('partials/header') -%>
  <div class="container-fluid">
    <h1>Home</h1>
    <%=keyHome%>

      <% keyPosts.forEach(post=> {%>
        <h1>
          <%=post.Title%>
        </h1>
        <p>
          <% let set=post.Body.substring(0,100) + "..." ; %>
            <%=set%> <a href="/posts/<%=post.Title%>">Read More</a>
        </p>
        <%}); %>

  </div>
  <%- include('partials/footer') -%>