<%- include("layouts/header") -%>

  <div class="box" id="heading">
    <h1>
      <%=keyListName%>
    </h1>
    <% if(kindOfDay=="Friday" ){ %>
      <h1 style="color:purple">today is <%=kindOfDay %>
      </h1>
      <%} else {%>
        <h1 style="color:blue">today is <%=kindOfDay %>
        </h1>
        <%}%>
          <h2>
            <%= keyFormatedDate %>
          </h2>
  </div>

  <div class="box">


    <%keyFoods.forEach((item)=>{%>
      <form action="/deleteItem" method="post">
        <div class="item">
          <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
          <p>
            <%=item.name%>
          </p>
        </div>
        <input type="hidden" name="listName" value="<%=keyListName%>">
      </form>
      <% })%>




        <form action="/" method="post" class="item">
          <input type="text" name="item" placeholder="New Item" autocomplete="off">
          <button name="list" type="submit" value="<%=keyListName%>">+</button>
        </form>

  </div>
  <%- include("layouts/footer") -%>